.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.dashboard-content {
  display: flex;
  flex: 1;
  margin-top: 98px;
}
.main-content {
  flex-grow: 1;
  margin-left: 235px;
  padding: 70px;
  transition: margin-left 0.3s ease;
}
@media (max-width: 768px) {
  .dashboard-content {
    margin-top: 70px;
  }
  .main-content {
    margin-left: 0;
    padding: 10 px;
    padding-right: 40px;
  }
}