.sidebar {
  width: 245px;
  height: calc(100vh - 98px);
  position: fixed;
  left: 0;
  top: 98px;
  background: #000000;
  padding: 1.5rem;
  overflow-y: auto;
  z-index: 900;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
  }
}