.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.dashboard-content {
  display: flex;
  margin-top: 98px;
}

.main-content {
  flex: 1;
  margin-left: 150px;
  left : 0;
  padding: 1.5rem;
  min-height: calc(100vh - 98px);
  width: calc(100% - 245px);
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard-content {
    flex-direction: column;
  }
  
  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 1rem;
  }
}